*{
    padding:0px;
    margin:0px;
}

.container{
    width:2700px;
}

img.background{
    visibility: hidden;
    position: fixed;
}

img.background-active{
    width:100%;
    position:fixed;
    z-index:0;
    left:0px;
    top:0px;
    transition:0.5s;
}

.nav{
    display:inline-block;
    margin:100px;
    position:absolute;
    z-index:2;
    right:0px;
}

.nav a{
    color:white;
    text-decoration:none;
    font:12px helvetica;
    display:inline-block;
}

.nav a:hover{
    color:grey;
}

.nav h3{
    color:white;
    font:12px helvetica;
    display:inline-block;
}

.content{
    position:absolute;
    width:30%;
    height:100%;
    background-color:rgba(0,0,0,0.7);
    text-align:center;
    right:0px;
    z-index: 1;
    padding-top:20%
}

#inactive{
    visibility:hidden;
}

.content h1{
    color:white;
    font:70px helvetica;
}
