*{
    padding:0px;
    margin:0px;
}

.container{
    width:2000px;
}

.content{
    width:1500px;
    padding: 200px;
}

.content h1{
    font: 50px Helvetica;
    font-weight:bold;
    border-bottom: 10px solid rgb(0, 100, 150);
    width: 500px;
    margin:auto;
    text-align:center;
    padding-top:50px;
    margin-bottom:50px;
}

.content h2{
    font: 50px Helvetica;
    font-weight:bold;
}

.content h3{
    font: 30px Helvetica;
    font-weight:bold;
}

/*
    Start Sidebar CSS
*/

.side-bar{
    height:100%;
    width:0px;
    position:fixed;
    z-index: 1;
    background-color:grey;
    padding-top:60px;
    transition:0.5s;
    overflow-x:hidden;
}


.side-bar a{
    font: 25px courier new;
    text-decoration: none;
    color:white;
    transition:0.3s;
    padding: 8px 8px 8px 32px;
    display:block;
    width:200px;
}

.side-bar a:hover, .offcanvas a:focus{
    color:black;
}

.aboutSub{
    position:fixed;
    height:0px;
    display:block;
    z-index: 1;
    transition:0.3s;
    overflow-y:hidden;
}

.projectsSub{
    position:fixed;
    height:0px;
    display:block;
    z-index: 1;
    transition:0.3s;
    overflow-y:hidden;
}

.aboutSub a, .projectsSub a{
    font: 15px courier new;
    margin-left:20px;
}

/*
    End Sidebar CSS

    Start Home CSS
*/

.home{
    width:100%;
    display:inline-block;
}

.home h2{
    margin-left: 50px;
}

.home h3{
    margin-left: 50px;
}

.home img{
    height:550px;
    float:right;
    display:inline-block;
    margin-right:100px;
    vertical-align:top;
}

/*
    End Home CSS

    Start About CSS
*/

.about{
    transition:0.5s;
    width:100%;
    display:inline-block;
}

/*
    End About CSS

    Start Projects CSS
*/

.projects{
    width:100%;
    display:inline-block;
}

.projects button{
    height:50px;
    width:1500px;
    margin-top:20px;
    margin-bottom:40px;
}

.projects .hidden{
    height:0px;
    display:block;
    z-index: 1;
    transition:0.5s;
    overflow-y:hidden;
}

.projects .left{
    width:1000px;
    border-right:5px solid grey;
    padding-right: 20px;
    display:inline-block;
    vertical-align:top;
}

.projects h3{
    margin-top: 20px;
    margin-bottom:20px;
}

.projects ul.tasks{
    margin-left:100px;
    vertical-align:top;
}

.projects .right{
    vertical-align:top;
    display:inline-block;
    margin-left:20px;
    width:400px;
}

.projects .etes .right .lang{
    height:225px;
    border-bottom: 5px solid grey;
}

.projects .brca1 .right .lang{
    height:120px;
    border-bottom: 5px solid grey;
}

.projects .right .ver{
    height:230px;
}

/*
    End Projects CSS


    Start Contact CSS
*/

.contact{
    width:100%;
    display:inline-block;
}

.contact h1{
    margin-bottom:30px;
}

.contact h3{
    margin-left:0px;
}

form{
    margin-left:600px;
}

form input{
    border:5px solid grey;
    border-radius:3px;
}

form input.info{
    width:400px;
    height:40px;
    display:inline-block;
    margin-bottom:20px;
}

form input.message{
    width:500px;
    height:300px;
    display:inline-block;
    text-align:top;
}

form input.submit{
    height:60px;
    width:150px;
    border: 5px solid grey;
    border-radius:3px;
    font: 30px courier new;
    font-weight:bold;
    margin-top:20px;
    margin-bottom:100px;
}